body{
	overflow-x: hidden;
	font-family: sans-serif;
	color: #343a40;
}
.offset:before{
	display: block;
	content: "";
	height: 3.6rem;
	margin-top: -3.6rem;
}
.spacer{
	height:75px;
}
/*Barre de navigation*/
.navbar{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1rem;
	letter-spacing: .1rem;
	background-color: rgba(0, 0, 0, 0)!important; 
	text-shadow: #343a40 1px 1px, #343a40 -1px 1px, #343a40 -1px -1px, #343a40 1px -1px;
}
img{
	height: 100px;
	padding-left: 10px;
}
.navbar-nav li{
	padding-right:.7rem;
}
.navbar-dark .navbar-nav .nav-link {
	color: white;
	padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
	opacity: 0.7;
}

/*shrink navbar*/
.shrink{
	background-color: rgba(0, 0, 0, 0.6)!important;
	margin-top: 0;
	font-size: .9rem;
	text-shadow: inherit;
}
.navbar-brand img{
	height: 55px;
	margin-top: -10px;
	margin-bottom: -10px;
}

/*Image page d'acceuil*/
.home-inner{
	background-image: url(img/banner.png);
}
.caption{
	width: 100%;
	max-width: 100%;
	position: absolute;
	top:38%;
	z-index: 1;
	color:white;
	text-transform: uppercase;
}
.caption h1{
	font-size: 3.8rem;
	font-weight: 700;
	letter-spacing: .3rem;
	text-shadow: .1rem .1rem .8rem black;
	padding-bottom: 1rem;
}
.caption h3{
	font-size: 2rem;
	text-shadow: .1rem .1rem .5rem black;
	padding-bottom: 1.6rem;
}
/*Media sociaux barre*/
.mediaSociaux{
	width: 100%;
	max-width: 100%;
	position: absolute;
	top:83%;
	z-index: 1;
	text-align: center;
}
.dock{
	background-color: rgba(0,0,0,0.6);
	width: 75%;
	height: 100px;
	margin: 0 auto;
	margin-top: -75px;
	border-radius: 50px;

}

.mediaSociaux a{
	padding-left: 5%;
}

.twitter:hover{
	color:#00aced;
}
.facebook:hover{
	color:#3b5998;
}
.instagram:hover{
  	color:  #474747;
}
.twitch:hover{
	color: #6441a5;
}
.patreon:hover{
	color:#e64413;
}
.youtube:hover{
	color: #c4302b;
}
.youtubePadding{
	padding-left: 0px !important;
}
.discord:hover{
	color:	#7289da;
}

.discord, .youtube, .patreon, .twitch, .instagram, .facebook, .twitter{
	font-size: 50px;
	color:white;

}
/*
.discord:hover, .youtube:hover, .patreon:hover, .twitch:hover, .instagram:hover, .facebook:hover, .twitter:hover{
	color:#343a40 ;
}
*/
/*A la une section*/
iframe {
	border:.1rem solid #343a40;
	border-radius:.3rem;
	margin-bottom: 2rem;
}
.titre1{
	text-transform: uppercase;
	padding-top: 25px;
	font-size:40px;
}
.regle{
	width: 50%;
	border:.1rem solid #343a40;
	margin-top:2rem;
	margin-bottom: 3rem;

}
.regleWhite{
	width: 50%;
	border:.1rem solid #f5f5f5;
	margin-top:2rem;
	margin-bottom: 3rem;

}
.regleSmall{
	width: 20%;
	border-top: .1rem solid #343a40;
	margin-top: 1rem;
	margin-bottom: 2rem;
}
.backgroundbird{
	position: relative;
}
.twitterBackground{
	position: absolute;
	max-width: 100%;
	z-index: -1;
	margin-top:4rem;
	max-height: 100%;
	height: inherit;
}

/*Video*/

.navVid .nav-item{
	margin: 0 auto;
	font-size: 30px;
}
.nav-item a{
	color:#343a40;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
	background-color: #343a40;
	color:white;

}
#video .nav-link{
	border:1px solid #343a40;
	border-radius: .3rem;
	padding: .5rem 1rem;
}
#video .nav-link:hover{
	background-color: #343a40;
	color: white;
}

.titre-thumbnail{
	margin-top: -33px;
	text-align: center;
	color: white;
	text-shadow: 0 0 3px black;
	z-index: 3;
	opacity: 1;
}
#video .btn{
	margin: 2rem auto 1rem auto;
} 
#video img:hover{
	opacity: 0.8;
	z-index: 1;	
}
#video img{
	height: inherit;
	padding-left: 0;
}
.petiteRegle{
	margin-top: 3rem;
	margin-bottom: 2rem;
}

/* Podcast */
#podcast span{
	color: #0000EE;
	text-decoration: underline;
}
#podcast img{
	max-width: 100%;
	height: inherit;
	padding-left: 0;
}
.therrien{
	color:white;
	text-shadow: #343a40 1px 1px, #343a40 -1px 1px, #343a40 -1px -1px, #343a40 1px -1px;
}
.therrien:hover{
	color:white;
	text-shadow: #343a40 1px 1px, #343a40 -1px 1px, #343a40 -1px -1px, #343a40 1px -1px;
}
.podcastLink{
	display: block;
	text-decoration: none;
	color: #343a40;
	margin-bottom: 0.7rem;
}
.podcastLink:hover{
	color: #343a40;
}

/* Creation */
.fixed{
	background-image: url(img/backgroundPaint.png);
	z-index: -1;
}
.dark{
	background-color: rgba(0, 0, 0, 0.5);
	color:#f5f5f5;
}

.iconCreation{
	margin-top:7rem;
}
.titreWhite{
	text-transform: uppercase;
	padding-top: 3rem;
	font-size:40px;
}

#creation h3{
	text-transform: uppercase;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}
#creation p{
	margin-bottom: 1.3rem;
}


#aPropos img{
	height: inherit;
	border-radius: 50%;
	max-width: 60%;
	border:.1rem solid #343a40;
	padding: inherit;
}
#aPropos h2{
	margin-top: 2rem;
}
/* footer */
footer{
	background-color: rgba(0,0,0,0.75);
	color:#f5f5f5;
	margin-bottom: -17px;
}

footer a{
	text-decoration: none;
	color:#f5f5f5;;
	display: block;
	margin-bottom: 1rem;
}
footer a:hover{
	color:#f5f5f5;
}
footer ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.basDePage{
	color:white;
	width: 100%;
	border-top: .1rem solid #f5f5f5;
	margin:0;
	padding: 0;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}
